@import url(https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;800;900&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Outfit:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Young+Serif&display=swap');

body {
  font-family: 'Barlow', 'Fraunces';
  margin-left: auto;
  margin-right: auto;
}
.div1{
    display: flex;
}

.div__logo{
    padding-left: 80px;
    padding-top: 43px;
}
.div__div2{
    display: flex;
    gap: 33px;
    margin-left: 760px;
    margin-top: 80px;
}
.div1__a{
    font-weight: 700;
    font-size: 15px;
    font-family: 'Barlow';
    text-decoration: none;
    color: rgba(131, 136, 143, 1);

}
.div2{
    margin-top: 43px;
    margin-left: 170px;
    border-radius: 10px;
    width: 1280px;
    height: 600px;
    background-image: url(/pages/Bitmap\ \(1\).png);
    background-repeat: no-repeat;
    background-position: right;
}
.div2__div{
    margin-left: 85px;
    padding-top: 117px;
}
.div2__h1{
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 72px;
    color: white;
}
.div2__p{
    font-family: 'Barlow';
    font-size: 16px;
    color: white;
    opacity: 80%;
}